.container_cards {
  padding: 0.5em 1.5em 0em 1.5em;
  height: 70vh;
  overflow-y: scroll;
}
.modal_open{
  padding: 0.5em 1.5em 0em 1.5em;
  overflow-y: scroll;
}

.container_cards_whitLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_cards_whitoutLoading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

.container_cards::-webkit-scrollbar {
  -webkit-appearance: none;
}

.container_cards::-webkit-scrollbar:vertical {
  width: 10px;
}

.container_cards::-webkit-scrollbar-button:increment,
.container_cards::-webkit-scrollbar-button {
  display: none;
}

.container_cards::-webkit-scrollbar:horizontal {
  height: 10px;
}

.container_cards::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.container_cards::-webkit-scrollbar-track {
  border-radius: 10px;
}
